
body {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    font-family: 'Open Sans', sans-serif;

}

/*wrapper***************************************************************/
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    background: #FFFAFA;
}

/*.container***************************************************************/
.container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1168px;

}

/*header***************************************************************/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-fixed {
    background: #fdf1f1;
}

.header_inner {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.header_logo_content {
    z-index: 10;
    width: 90px;
}

.header_logo_bg {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: -3px;
    left: -111px;

}


.header_nav {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.header_nav_link {
    margin-left: 30px;
    color: rgba(32, 32, 32, 0.85);
    text-decoration: none;
    transition: opacity 0.2s linear;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.header_nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(100, 5, 5);
    top: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.header_nav_link:hover {
    color: black;
}

.header_nav_link:hover::after {
    opacity: 1;
    color: rgba(0, 0, 0, 0.07);
}
.sing_in{
    font-size: 14px;
    color: white;
    background: #9A3838;
    padding: 7px 15px;
    border-radius: 35px;
}
.nav-toggle {
    width: 25px;
    position: absolute;
    padding: 15px 0;
    right: 0;
    z-index: 1;
    opacity: 0;

}

.naw-toggle_item {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
}

.naw-toggle_item:before,
.naw-toggle_item:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: black;
}

.naw-toggle_item:after {
    top: -7px;

}

.naw-toggle_item:before {
    top: 7px;

}


/*intro***************************************************************/
.intro {
    margin: 0 auto;
    padding-bottom: 60px;
}

.intro_wrapper {
    width: 100%;
    position: relative;
    margin-top: 145px;
}

.intro_inner {
    width: 65%;
    padding-left: 40px;
}

.intro_title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    line-height: 1;

}

.title {
    font-size: 172px;
    font-family: 'Bebas Neue', cursive;
    color: #F94545;
}

.subtitle {
    font-size: 39px;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 27px;
    width: 40%;
}

.text {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin-bottom: 50px;
    line-height: 1.3;
    position: relative;
}

.button {
    font-family: 'Open Sans', sans-serif;
    padding: 16px 38px;
    font-size: 16px;
    text-decoration: none;
    width: 20px;
    height: 15px;
    background-color: #FDFEB8;
    color: black;
    border: none;
    border-radius: 60px;
    box-shadow: 0.8em 0.5em 30px rgba(122, 122, 122, 0.27);

}

.button:hover {
    transition: 0.2s;
    background-color: rgba(229, 212, 13, 0.84);

}

.button:active {
    background-color: rgba(197, 187, 16, 0.84);
}

.intro_rec {
    margin-top: 55px;
}


.intro_rec_title {
    font-family: 'Balsamiq Sans', cursive;
    line-height: 1.5;
    font-size: 23px;
    margin-bottom: 20px;
}

.intro_rec_card {
    display: flex;
    width: 100%;
    z-index: 20;
}

.intro_rec_link {
    text-decoration: none;
    width: 33%;


    color: black;
    margin-right: 20px;
}

.rec_card_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    box-shadow: 0.8em 0.5em 30px rgba(122, 122, 122, 0.49);
    border-radius: 20px;
    text-align: center;
    opacity: 1;
    z-index: 20;
}

.rec_card_inner:hover {
    color: #F94545;
    transition: 0.2s;
    background-color: rgba(122, 122, 122, 0.04);
}

.intro_img {
    position: absolute;
    width: 586px;
    right: -266px;
    top: -3px;
    transform: rotate(10deg);
    border-radius: 50%;
    background-image: radial-gradient(circle closest-corner at 50% 60%, #FC6F6F 50%, transparent 50%);

}

/*card************************************************************/
.card {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.card_item {
    display: block;
    margin-left: 16px;
    text-align: center;
    box-shadow: 0.8em 0.5em 30px rgba(122, 122, 122, 0.56);
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.card_item:first-child {
    margin-left: 0;
}

.card_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 0 15px;
    font-weight: 600;
    z-index: 20;
}

.card_img {
    width: 100%;
    height: 124px;
    max-width: 100%;
    padding: 13px 5px;
}

.sale_price {
    color: #F94545;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}

.sale_price .last {
    margin-top: 7px;
}

.prise_inner {
    position: relative;
}

.normal_price {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: -3px;
    margin-left: 10px;

}

.past_price {
    position: absolute;
    right: -25px;
    bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
}

.card_inner {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.card_link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;

}

.card_link:hover {
    color: #F94545;
}

.card_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F94545;
    transition: opacity 0.2s linear;
    z-index: 10;
}

.card_link:after:active {
    color: rgba(0, 0, 0, 0.66);
}

.card_btm {
    position: relative;
}

/*cart******************************************************/
.cart {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 15px;
}

.cart:hover {
    color: rgba(220, 201, 5, 0.84);

}

.cart:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(229, 209, 1, 0.84);
    left: 0;
    z-index: 1;


}

/*section***************************************************************/

.section {
    background: #FFFAFA;
    margin: 0 auto;

}

.section_catalog {
    background-image: url("/img/content/card_bg/bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
    padding-top: 29px;


}


.section_tittle {
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.form_catalog:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F94545;
}

select {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: inherit;

}

.select:hover {
    color: #be3535;
}


/*content***************************************************************/

.content {
    display: flex;
    margin-bottom: 60px;
}

.content_inner {
    width: 70%;
    flex-wrap: wrap;
}

.content_subtitle {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.content_subtitle:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F94545;
}

.content_subtitle:hover {
    color: #F94545;
}

.content_form {
    display: none;
    opacity: 0;
}

/*search form***************************************************************/

.search {
    background: #fff;
}

.search:after {
    content: "";
    clear: both;
    display: table;
}

.search_form {
    width: auto;
    float: right;
}

.label {
    padding: 15px;
}

.label:hover {
    background-color: white;
}

.input {
    width: 100%;
    max-width: 197px;
    box-sizing: border-box;
    border: 1px solid #595959;
    border-radius: 45px;
    font-size: 16px;
    padding: 7px 18px;
    background-color: #FFFAFA;
    background-position: 155px 5px;
    background-repeat: no-repeat;
    background-size: 15%;
}

.input:hover {
    border: 1px solid #F94545;
    outline: none;
}

.input:active {
    border: 1px solid #be3535;
    outline: none;
}

.placeholder {
    margin: 15px;
}

/*nav***************************************************************/
.nav {
    width: 30%;
    margin: 0 auto;
}

.nav_title {
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 15px;
}

.nav_item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_link {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin-bottom: 8px;


}

.nav_link:hover {
    color: #F94545;
    transition: 0.2s;

}

.nav_text {
    margin: 0;
    width: 100%;
}

.more:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F94545;
}


/*sale***************************************************/
.sale {
    width: 100%;
}

.sale_inner {
    position: relative;
}

.sale_subtitle {
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 8px 14px;
    background: #FDFEB8;
    font-weight: 600;
    border-radius: 50px 0 0 50px;
}

.select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*catalog***************************************************/
.catalog {
    flex-wrap: wrap;
    width: 16%;

}

.catalog_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog_item {
    height: 100%;
    display: block;
    margin: 7px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0.8em 0.5em 30px rgb(122 122 122 / 56%);
    border-radius: 20px;
    background-color: white;
    width: 23.5%;
}

.catalog_btm {
    margin: 40px auto 0;
    padding-bottom: 32px;

    display: flex;
    justify-content: center;

}

.catalog_btm_link {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-radius: 60px;
    border: #FBFD82 solid 2px;
    background-color: white;
    padding: 16px 38px;
    font-size: 16px;
}

.catalog_btm_link:hover {
    transition: 0.2s;
    background-color: rgba(229, 212, 13, 0.84);
    border: #ffffff solid 2px;

}

.catalog_btm_link:active {
    background-color: rgba(197, 187, 16, 0.84);
}

/*footer***************************************************/

.footer {
    margin: 0 auto;
    background-color: #9A3838;
    position: relative;
}

.footer_inner {
    padding: 35px 0 15px;
}

.footer_item {
    margin-bottom: 15px;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_link, .copyright {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: 0.06em;
    align-items: center;
    margin-left: 20px;

}

.copyright {
    font-size: 11px;

}

.footer_link:hover {
    color: rgba(229, 212, 13, 0.84);

}

.footer_link:active {
    color: rgba(197, 187, 16, 0.84);
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
}

i {
    font-size: 18px;
}