//section//
.section {
  height: 100%;
  padding-bottom: 100px;

}

//section_prop///////
.section_propositions {
  margin: 0 auto;

}

.propositions {
  position: relative;
}

.arrow_prev::before {
  content: '';
  width: 21px;
  height: 21px;
  border-top: 3px solid rgba(154, 56, 56, 0.47);
  border-right: 3px solid rgba(154, 56, 56, 0.47);
  position: absolute;
  top: 60%;
  right: 0;
  transform: rotate(45deg);
}

.arrow_next::after {
  content: '';
  width: 21px;
  height: 21px;
  border-left: 3px solid rgb(154, 56, 56, 0.47);
  border-bottom: 3px solid rgb(154, 56, 56, 0.47);
  position: absolute;
  top: 60%;
  left: 0;
  transform: rotate(45deg);
}

.section_tittle {
  padding-bottom: 39px;

}

//card///////////
.card {
  padding: 0 40px;
}

.card_item {
  width: 48%;
}

.card_back {
  display: flex;
  align-items: center;
  padding-bottom: 35px;

}

.card_back_link {
  margin-left: 10px;
  font-size: 18px;
}

.card_open {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;

}

.card_open_inner {
  display: flex;
  align-items: center;
  box-shadow: 0 0 19px 10px #80808036;
  border-radius: 35px;
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  height: 100%;
  max-height: 661px;
  padding: 66px 45px;
  background: url("/card_open/img/card_open_bg.svg") no-repeat;
  background-position: left 54%;
  background-size: 30%;
}

.card_open_inner_img {
  width: 100%;
  max-width: 635px;
  display: block;
  height: 100%;

}

.card_open_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 40px;

}

.card_open_title {
  font-size: 37px;
  font-family: 'Open Sans', sans-serif;

}

.card_open_subtitle {
  padding-top: 38px;
  font-size: 21px;
  width: 100%;
  max-width: 444px;
  margin: 0 auto;

}

.card_open_price {
  padding-top: 30px;
  font-size: 40px;
  color: #F94545;
  font-weight: 900;
}

//button///////////
.card_open_button {
  margin-top: 30px;
}

.add_to_cart, .fast_buy {
  font-size: 22px;
  background-color: white;
  border: 1px solid #595959;
  padding: 13px 35px;
  border-radius: 35px;
  box-shadow: 1px 0 14px 9px rgba(128, 128, 128, 0.04);

}

.add_to_cart:active {
  background-color: #f5f4f4;


}

.fast_buy {
  background-color: rgba(255, 234, 15, 0.84);
  font-weight: 600;
  border: none;
}

.fast_buy:active {
  background-color: rgba(245, 223, 16, 0.84);

}
